main {
  background-image: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5vw;
  margin: 2vw 2vw;
  text-align: center;
}

h1 {
  margin: 1vw 1vw;
  color:	#bb0a1e;
}

h2 {
  margin: 1vw 1vw;
  color: 	#013220;
}

h3 {
  margin: 1vw 1vw;
  color: 	#FF6700;
}

section {
  margin: 1vw 1vw;
}

form {
  margin: 1vw 4.5vw;
  font-weight: 500;
}


ul {
 list-style: none;
}

.removeButton {
  font-size: 2vw;
  color: white;
  background-color: red;
  margin: 0vw 25vw 4vw 25vw;
  cursor: wait;

}

.editButton {
  font-size: 2vw;
  background-color: orange;
  margin: 0vw 4vw 0vw 0vw;
  cursor: context-menu;
}

.addRecipe {
  font-size: 2vw;
  color: white;
  background-color: blue;
  margin: 2vw 0vw 4vw 0vw;
  cursor: cell;
}
