.page {
  background-image: url(https://static.themarthablog.com/2017/03/DSC_5680.jpg);
  background-repeat: repeat;
}

.op {
  background-color: rgb(223, 220, 220, 0.8);
  width: 70%;
  margin: auto;
  border-radius: 2vw;
}


h1 {
  font-family: "Dancing Script", cursive;
  font-size: 10vw;
  color: white;
  text-shadow: .2vw .2vw .3vw black;
  animation-name: bigger;
  animation-duration: 3s;
  text-align: center;
}

h2, h3, h4 {
  margin: 1vw 1vw 1vw 1vw;
  text-align: center;
}

h2 {
  color: 	#006400;
  text-shadow: .1vw .1vw .1vw black;
  font-size: 4vw;
}

h3 {
  color: 	#FF6700;
  text-shadow: .2vw .2vw .2vw black;
  font-size: 3vw;
}

h5 {
   font-size: 2vw;
}

section {
  margin: 1vw 1vw;
}

h4  {
  color:	#F70D1A;
  text-shadow: .1vw .1vw .1vw black;
  font-size: 2.5vw;
}

.searchBar {
  width:20vw;
  height:2.5vw;
  font-size: 1.7vw;
  text-align: center;
}

/* cutting board recipe add form below */

.addRecipeForm {
  font-size: 2vw;
  margin: 3vw 3vw 8vw 3vw;
  background-image: url("https://media.istockphoto.com/photos/wooden-cutting-board-with-kitchen-knife-picture-id187946246?k=20&m=187946246&s=612x612&w=0&h=Lx8PFFLKVwNPzVQAV0MBTcdHjA99CEA3YYpmZy34jU4=");
  background-size: 120% 125%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2vw 3vw 1vw 3vw;
  box-shadow: 2vw 2vw 2vw black;
  border-radius: 2vw;
  animation-name: block;
  animation-duration: 4s;
}

.inputRecipeName {
  width:35.5vw;
  height:2.5vw;
  font-size: 1.7vw;
  margin: 0vw 1vw 1vw 0vw;
  background-color: #CDA678;
}

.inputRecipe {
  width:53vw;
  height:2.5vw;
  font-size: 1.7vw;
  margin: 0vw 1vw 1vw 0vw;
  background-color: #CDA678;
}

.addRecipe {
  font-size: 2.2vw;
  color: black;
  background-color: #aaa9ad;
  margin: 4vw 10vw 4vw 5vw;
  cursor: cell;
}

ul {
 list-style: none;
}

/* li and content below for recipes cards*/

.recipeInfo {
  background-image: url("https://media.istockphoto.com/photos/notebook-paper-picture-id692814410?b=1&k=20&m=692814410&s=612x612&w=0&h=LDyBmFPAKH8cHu1CmnhMcj41e7hTn7FQjuYcBL4ZyO8=");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 3vw 5vw 3vw 0vw;
  padding: 2vw 5vw 2vw 8vw;
  border-radius: 2vw;
  box-shadow: 1vw 1vw 2vw black;
  text-align: center;
}

.X {
  font-weight: 500;
  border: 2px solid black;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
}

.recipeCardButton {
    background-color: white;
    padding: 0vw 0vw;
}

.recipeImage {
  max-width: 60%;
  max-height: 40%;
}

/* edit and delete recipe form below */

.editRecipeForm {
  font-size: 2vw;
}

.editRecipeInput {
  width:33vw;
  height:2.5vw;
  font-size: 1.7vw;
  margin: 1vw 0vw 2vw 0vw;
  background-color: #FFFFFF;
}

.editButton {
  font-size: 1.5vw;
  background-color: orange;
  margin: 1vw 0vw 1vw 1vw;
  cursor: context-menu;
}


.removeButton {
  font-size: 2vw;
  color: white;
  background-color: red;
  cursor: wait;
  margin-bottom: 3vw;
  margin-top: 2vw;
}

.dishName {
  object-position: center;
}

a {
  text-decoration: none;
}


@keyframes bigger {
  0% {
    opacity: 0;
    font-size: 2rem;
  }

  100% {
    opacity: 1;
  }
}

@keyframes block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
